<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="local_db_only" value="true" />
        <add key="local_db_name" value="bifeldy-sd3-wf-452.db" />
        <add key="setting_kunci_suffix" value="backupgps" />
        <add key="max_old_retention_day" value="14" />
        <add key="windows_startup" value="false" />
        <add key="updater_ftp_ip_domain" value="127.0.0.1" />
        <add key="updater_ftp_port" value="21" />
        <add key="updater_ftp_username" value="admin@localhost" />
        <add key="updater_ftp_password" value="root" />
        <add key="smtp_server_ip_domain" value="127.0.0.1" />
        <add key="smtp_server_port" value="25" />
        <add key="smtp_server_username" value="admin@localhost" />
        <add key="smtp_server_password" value="root" />
        <add key="ws_syncho" value="http://127.0.0.1" />
        <add key="bypass_login" value="false" />
        <add key="bypass_ip_mac" value="false" />
        <add key="minimize_on_close" value="false" />
        <add key="auto_db" value="true" />
        <add key="select_file_ext" value=".7z.sig" />
        <add key="allowed_file_mime" value="application/x-7z-compressed" />
        <add key="sig_name_pattern" value="idm_(metadata|[0-9]*table)_([a-z0-9]{4})_([0-9]{6,8})((.dmp|.sql).7z.sig)" />
    </appSettings>
</configuration>
